html, body {
    width: 100%;
}

body {
    background: #333;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 500px;
}

.todos li {
    background: #777;
    color: white;
    border: none;
    margin: 1px 0;
}

.delete {
    cursor: pointer;
}

input[type=text], input[type=text]:focus {
    color: white;
    background: #777;
}

input[type=text]:focus, input[type=text]:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.2s;

}

::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}