@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: blue url('https://images.wallpapersden.com/image/download/windows-11-4k-minimal-digital-fan-art_bWttZmqUmZqaraWkpJRobWllrWdma2U.jpg') no-repeat center;
}

.container {
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    margin: 5% auto;
    background-color: rgba(255,255,255,0.1);
    color: blueviolet;
    border: 2px solid blueviolet;
    box-shadow: 0 0 100px 10px blueviolet;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);

}

h2 {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 18px;
    border: 1px solid lavender;
    border-radius: 20px;
    transition: background-color 0.25s, color 0.25s;
}

button:hover {
    background-color: white;
    border: 1px solid blue;
    color: blueviolet;
    transition: background-color 0.25s, color 0.25s;
}

button:active {
    background-color: rebeccapurple;
    color: white;
}