<div class="is-flex is-justify-content-center is-align-items-center" style="height: 100vh;">
  <div class="box" style="width: 600px;">
    <h1 class="title has-text-centered">Harf Eşleştirme</h1>
    <p class="has-text-centered">
      @for (letter of randomText.split(''); track $index) {
        <span [class] = "compare(letter, inputText[$index])">{{ letter }}</span>
      }
    </p>
    <div class="field">
      <input class="input" (input) = "getInputVal($event.target.value)"/>
    </div>
    <div>
      @if (inputText.toLowerCase() === randomText.toLowerCase()) {
        <h1 class="title has-text-centered">Bravo!</h1>
      }
    </div>
  </div>
</div>
